<div class="container">
  <div class="card" (click)="goToPostPage()">
    <!--image section-->
    <div class="imgBox">
      <a (click)="goToPostPage()" style="cursor: pointer;">
        <img [src]="postImgUrl + '/' + post.images[0]" alt="Post Image">
      </a>
    </div>
    <!--product info section-->
    <div class="productInfo">
      <p>
        <a (click)="goToPostPage()" style="cursor: pointer;">
          {{ post.title }}
        </a>
      </p>
    </div>
    <!--user Info section-->

    <div class="userProfileInfo">
      <!--user profile picture section-->
      <div class="userProfileIcon">
        <a (click)="goToProfilePage()" style="cursor: pointer;">
          <img [src]="profileImgUrl + '/' + post.posterId.profile_image">
        </a>
      </div>
      <!--user profile info section-->
      <div class="userUserName" [title]="post.posterId.user_name">
        <a (click)="goToProfilePage()" style="cursor: pointer;">{{post.posterId.user_name}}</a>
      </div>
    </div>
  </div>
</div>
