<div class="slideshow-container">

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <img src="{{ showSlide(slides, i) }}" alt="slide" >
    </div>
  </div>
  <!-- Next and previous buttons -->
  <a class="prev" (click)="getPrev(slides, i)">&#10094;</a>
  <a class="next" (click)="getNext(slides, i)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span *ngFor="let slide of slides; let i = index" class="dot" (click)="goTo(slides, i)"></span>
</div>
