<div class="container page">
  <div class="postInfo">
    <div class="imagesBox">
      <ImageCarousel [slides]="post.images"></ImageCarousel>
    </div>
    <div class="productDescription">
      {{post.title}}
      {{post.content}}
    </div>
  </div>
  <div class="authorAndEdit">
    <div class="authorCard"> <AuthorCard [user]="user"></AuthorCard></div>
    <div *ngIf="checkIsUser()" class="tabs">
      <fa-icon [icon]="faStarRegular" class="favourite" title="Favourite"></fa-icon>
      <a onclick="location.href='/newpost'"><fa-icon [icon]="faPenToSquare" class="edit-button" title="Edit"></fa-icon>
      </a>
      <a (click)="deletePost()"><fa-icon [icon]="faTrashCan" class="remove-button" title="Remove"></fa-icon>
      </a>
    </div>
  </div>
</div>

