.page{
    height: 100vh;
}

.container{
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	column-gap: 4%;
	border-color: rgba(211, 210, 210, 0.254);
	border-style: solid;
	margin-top: 10px;
  width: 80%;
	padding: 3%;
	margin-top: 8%;
	object-fit: contain;
	height: auto;
	flex: 1 1 0;
}

.postInfo{
	display: flex;
	flex-direction: column;
	width: 60%;
	height: auto;
}

.imagesBox{
	width: 80%;
	padding: 5%;
}

.productDescription{

	width: 80%;
	margin: 5%;
	font-size: 1.3vh;
	object-fit: contain;
	overflow: hidden;
}

.authorAndEdit{
	display: flex;
	padding: 4%;
	flex-direction: column;
	width: 40%;
	height: auto;

}
.authorCard{
	margin-bottom: 5%;
}


.tabs{
	padding: auto;
	display: flex;
	justify-content: center;
	column-gap: 3%;

}
.button1{
	background-color: #adadada9;
  border: none;
  color: black;
	font-size: 1.5vh;
	width: fit-content;
	padding: 5%;
	font-weight: bold;
}
@media (max-width: 768px){
	.container{
		margin-bottom: 0;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		column-gap: 4%;
		border-color: rgba(211, 210, 210, 0.254);
		border-style: solid;
		margin-top: 10px;
		width: 90%;
		padding: 3%;
		margin-top: 8%;
		object-fit: contain;
		height: auto;
		flex-direction: column-reverse;
	}
	
	.postInfo{
		display: flex;
		flex-direction: column;
		width: 95%;
		height: auto;
	}
	
	.imagesBox{
		width: 90%;
		padding: 5%;
	}
	
	.productDescription{
	
		width: 90%;
		margin: 5%;
		font-size: 1.3vh;
		object-fit: contain;
		overflow: hidden;
	}
	
	.authorAndEdit{
		display: flex;
		padding: 4%;
		flex-direction: column;
		justify-content: center;
		width: 90%;
		max-height: 3%;
	
	}
	.authorCard{
		margin-bottom: 5%;
		width: 95%;
		justify-content: center;
	}
	
	
	.tabs{
		padding: auto;
		display: flex;
		justify-content: center;
		column-gap: 5%;
		width: 95%;
	
	}
	.button1{
		background-color: #adadada9;
		border: none;
		color: black;
		font-size: 1.5vh;
		width: fit-content;
		padding: 5%;
		font-weight: bold;
	}
}
