.post-details-container {
	padding: 0 5%;
}

.productDescription {
	margin-top: 20px;
}

.authorAndEdit {
	height: auto;
	margin-top: 30px;
}

.authorCard {
	max-width: 350px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.edit-button:hover {
	color: salmon;
	cursor: pointer;
}

.remove-button{
  font-size: 20px;
  float: right;
  margin-right: 20px;
}

.remove-button:hover{
	color: salmon;
	cursor: pointer;
}
.starContainer{
	width: 100%;
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
}
.favouriteReg {
	font-size: 20px;
	margin-top: 15px;
	margin-right: 3px;
}

.favouriteReg a:hover {
	color: salmon;
	cursor: pointer;
}

.favouriteSolid {
	font-size: 20px;
	margin-top: 15px;
	margin-right: 3px;
	color: rgb(252, 191, 7);
}

.favouriteSolid a:hover {
	color: salmon;
	cursor: pointer;
}

.title{
	font-size: 20px;
  text-shadow: 1px 0 black;
  letter-spacing:1px;
	font-family: Raleway;
	font-weight: 2000;
	margin-bottom: 20px;
}

.content {
	font-size: 15px;
	font-family: Raleway;
	margin: 20px 0;
	white-space: pre-line;
}

.hashtagContainer {
	margin: 10px 0;
}

.hashTagItem {
	font-size: 15px;
	background-color: #f0f0f0;
	border-radius: 3px;
	padding: 3px 15px;
	margin: 5px 10px;
}

.edit-button {
	font-size: 20px;
  float: right;
}

.removeComment {
  position: absolute;
	display: inline-block;
  right: 10px;
  top: 20px;
}

.myInfo {
	display: inline-block;
}

.myName {
	width: 100%;
}

.inputComment {
	margin-top: 20px;
	width: 100%;
	background: transparent;
	border: none;
	border-bottom: 1px solid #000000;
}

.inputComment:focus {
	outline: none;
}

.confirmationButtons {
	width: 100%;
	text-align: right;
}

.confirmComment {
	display: inline-block;
	margin-top: 10px;
	margin-left: 15px;
}

.createComment {
	width: auto;
	border-radius: 12px;
	border: 2px solid lightgrey;
	background-color: white;
	transition-duration: 0.4s;
}

.createComment:hover {
	background-color: lightgrey;
}

.commenterInfo {
	display: inline-block;
	padding-bottom: 10px;
  position: relative;
  width: 100%;
}

.commentItem {
	margin-top: 10px;
	margin-left: 55px;
}

.profileImg {
	margin-right: 10px;
	margin-top: 10px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	cursor: pointer;
	transition-duration: 0.3s;
}

.profileImg:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	transition-duration: 0.3s;
}

.nameDate {
	display: inline-block;
	position: relative;
	top: 15px;
	margin-left: 5px;
}

.nameDate a {
	color: black;
	text-decoration: none;
}

.nameDate a:hover {
	color: salmon;
	text-decoration: underline;
}

.commentDate {
	font-size: 12px;
}

.commentLine {
	border-bottom: 1px solid black;
	width: 100%;
	opacity: 0.2;
	margin: 10px;
}

.charLabel {
	float: left;
	font-size: 15px;
}

.swiper-img-container {
	width: 100%;
	text-align: center;
}

.swiper-img {
	max-height: 500px;
	width: auto;
	max-width: 100%;
}

.swiper-pagination-bullet {
	opacity: 0.5 !important;
}
