<div class="container">
  <div class="postInfo">
    <div class="imagesBox">
      <ImageCarousel [slides]="post.images"></ImageCarousel>
    </div>
    <div class="productDescription">
      <div class="title">{{post.title}}</div>
      <h5>Review:</h5>
      <div class="content">{{post.content}}</div>
      <span class="hashTagbox"*ngFor="let tag of post.keywords"><span class="hashTagItem">{{tag}}</span></span>
    </div>
    <div class="commentSection">
      <div class="myComment">
        
      </div>
      <div class="myName">
        {{user.user_name}}
      </div>
    </div>
    <input type="text" placeholder="Comment" name="" [(ngModel)]="myComment.content" #ctrl="ngModel" required>
  </div>
  <div class="authorAndEdit">
    <div class="authorCard">
      <AuthorCard [user]="user"></AuthorCard>
    </div>
    <div *ngIf="!isPoster && checkIsUser()" class="favourite">
      <div *ngIf="!isFavourite" class="favouriteReg">
        <a (click)="favouritePost()"><fa-icon [icon]="faStarRegular" title="Favourite"></fa-icon>
        </a>
      </div>
      <div *ngIf="isFavourite" class="favouriteSolid">
        <a (click)="deleteFavourite()"><fa-icon [icon]="faStarSolid" title="Favourite"></fa-icon>
        </a>
      </div>
      
    </div>
    <div *ngIf="isPoster" class="tabs">
      <a (click)="goToEdit()"><fa-icon [icon]="faPenToSquare" class="edit-button" title="Edit"></fa-icon>
      </a>
      <a (click)="deletePost()"><fa-icon [icon]="faTrashCan" class="remove-button" title="Remove"></fa-icon>
      </a>
    </div>
  </div>
</div>

