.login-container {
  text-align: center;
}

.logo {
  width: 150px;
  height: 150px;
}

.greeting {
  margin-top: 30px;
  margin-bottom: 50px;
}

#googleBtn {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.fbBtn {
  margin-top: 30px;
}

.fbBtnIcon {
  margin-right: 10px;
}

#Login {
  position: relative;
  height: 100vh;
}

#appleid-signin {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  height: 45px;
  max-width: 218px;
  padding-top: 10px;
  font-size: 80%;
  font-family: 'applied-button-font-0';
}