<div class="Header">
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <div class="container">

      <a class="navbar-brand logo" href="/">
<!--        <img src="assets/icon.png" alt="Amima logo" height="45" width="45">-->
        <span>Amima</span>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav me-sm-auto d-flex">
          <li>
            <input class="form-control buttonStyleBlack" [(ngModel)]="searchContent" maxlength="100" type="search" (keyup.enter)="searchFunc()" >
          </li>
          <a class="btn btn-light action-button buttonStyleBlack searchBtn" (click)="searchFunc()" role="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
            Search
          </a>
        </ul>

        <ul class="navbar-nav ms-sm-auto">
          <li *ngIf="loggedIn" class="nav-item">
            <a class="nav-link linkStyleRed" (click)="ToggleNotifications()" data-bs-target=".navbar-collapse.show">
              <span>
                <fa-icon [icon]="faBell"
                         [title]="notifications.length > 0 ? 'You have ' + notifications.length + ' new notifications' : 'You have no new notifications'">
                </fa-icon>
              </span>
              <span class="badge" style="color: #000">{{ notifications.length > 0 ? notifications.length : '' }}</span>
            </a>
            <div [ngClass]="showNotificationPanel ? 'displayed' : 'hidden'" class="notification-panel-overlay" (click)="ToggleNotifications()"></div>
            <div [ngClass]="showNotificationPanel ? 'displayed' : 'hidden'" class="notification-panel">
              <div class="panel-button">
                <a (click)="notifications = []" title="Clear all"><fa-icon [icon]="faTrashCan"></fa-icon></a>
                <a (click)="ToggleNotifications()" title="Close"><fa-icon [icon]="faXmarkCircle"></fa-icon></a>
              </div>
              <div *ngIf="notifications.length === 0" class="notification-caught-up" style="font-size: 28px;"><fa-icon [icon]="faSmileWink"></fa-icon></div>
              <div *ngIf="notifications.length === 0" class="notification-caught-up">All caught up!</div>
              <div *ngFor="let notification of notifications" class="notification-item">
                {{ generateNotificationContent(notification) }}
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link linkStyleRed" (click)="goNewPost()" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
              Create Post
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link linkStyleRed" (click)="goAbout()" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
              About Us
            </a>
          </li>
          <li class="nav-item">
            <div *ngIf="loggedIn" class="signInIcon">
              <a class="nav-link" (click)="goProfile()">
                <img id="userIcon"
                     [src]="profileImage"
                     height="30px" width="30px"
                     alt="Icon"
                     title="See your profile"
                     data-bs-toggle="collapse"
                     data-bs-target=".navbar-collapse.show">
                </a>
            </div>
            <div *ngIf="!loggedIn" class="signOutIcon">
              <a class="btn btn-light action-button linkStyleRed signIn" role="button" (click)="goLogin()" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                Sign In
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
