img{
  border-radius: 50%;
}

.Header{
  padding-top: 80px;
}

.form-control:focus {
  box-shadow: none;
}

.action-button:focus {
  box-shadow: none;
}

.navbar .searchBtn{
  margin: 0px 10px;
}


.buttonStyleBlack{
  border-width: 2px;
  border-color: rgb(224, 224, 224);
  background-color: white;
  border-style: solid;
  border-radius: 50px;
  font-size: 13px;
}

.buttonStyleBlack:hover{
  border-color: black;
}

.navbar .linkStyleRed{
  cursor: pointer;
  text-decoration:none;
  color: black;
  font-size: 17px;
}

.navbar .linkStyleRed:hover{
  color:red;
}

.signIn{
  border-radius: 50px;
  border-style: solid;
  border-width: 2px;
}

.signIn:hover{
  border-color: red;
}

.logo {
  cursor: pointer;
}

#userIcon {
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
  }

  .navbar .navbar-collapse {
      text-align: center;
  }
}
