img{
  border-radius: 50%;
}

.Header{
  padding-top: 80px;
}

.form-control:focus {
  box-shadow: none;
}

.action-button:focus {
  box-shadow: none;
}

.navbar .searchBtn{
  margin: 0px 10px;
}

.buttonStyleBlack{
  border-width: 2px;
  border-color: rgb(224, 224, 224);
  background-color: white;
  border-style: solid;
  border-radius: 50px;
  font-size: 13px;
}

.buttonStyleBlack:hover{
  border-color: black;
}

.navbar .linkStyleRed{
  cursor: pointer;
  text-decoration:none;
  color: black;
  font-size: 17px;
}

.navbar .linkStyleRed:hover{
  color:red;
}

.signIn{
  border-radius: 50px;
  border-style: solid;
  border-width: 2px;
}

.signIn:hover{
  border-color: red;
}

.logo {
  cursor: pointer;
}

#userIcon {
  cursor: pointer;
}

.notification-panel {
  position: absolute;
  text-align: left;
  width: 300px;
  height: 400px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  padding: 10px;
  border-radius: 5px;
}

.notification-panel-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.notification-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
  width: 100%;
  display: block;
}

.notification-caught-up {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 16px;
}

.panel-button {
  font-size: 20px;
  text-align: right;
}

.panel-button a {
  cursor: pointer;
  margin-left: 15px;
  transition: 0.2s;
}

.panel-button a:hover {
  color: salmon;
  transition: 0.2s;
}

.displayed {
  display: block;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .navbar .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
  }

  .navbar .navbar-collapse {
      text-align: center;
  }

  .notification-panel {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 50vh;
  }
}
