<div class="header">
  <div class="page">
    <a href="/">
      <img id="logo" src="assets/icon.png">
    </a>
    <input class="buttonStyleBlack searchBar" type="text">
    <img id="magnifyGlassImg" src="assets/magnifyGlass.png">

    <button class="buttonStyleBlack searchButton" >Search</button>
    <a href="newpost" class="linkStyleRed prodRevLink">Product Review</a>
    <a href="about" class="linkStyleRed aboutUsLink">About Us</a>
    <a href="/login">
      <img id="userIcon" src="assets/icon.png">
    </a>
  </div>
</div>