<div class="container">
    <div class="edit-profile">
        <img [src]="imgUrl" width="100%" height="100%">

        <div class="image-upload">
            <input type="file" id="file" name="image" (change)="uploadImage($event)" >
            <label for="file">
                <fa-icon [icon]="faCamera" class="camera" title="Info button"></fa-icon>
            </label>
        </div>

        <div class="nameBar">
            <header class="titleName"></header>
            <input type="text" placeholder="Name" name="" [(ngModel)]="currentUser.user_name" #ctrl="ngModel" required>
        </div>
        <div class="emailBar">
            <header class="titleEmail"></header>
            <input readonly type="email" placeholder="Email ID" name="" [(ngModel)]="currentUser.email" #ctrl="ngModel" required> <!-- this should be read only-->
        </div>
        <div class="bioBar">
            <header class="titleBio"></header>
            <input type="text" placeholder="Bio" name="" [(ngModel)]="currentUser.bio" #ctrl="ngModel" required>
        </div>
        <div class="info-btn">
            <fa-icon [icon]="faQuestionCircle" class="info-icon3"  title="Info button"></fa-icon>
            <span class="tooltiptext">A brief description of yourself</span>
        </div>
        <div class="info-btn">
            <fa-icon [icon]="faQuestionCircle" class="info-icon2"  title="Info button"></fa-icon>
            <span class="tooltiptext">Your Email & Email-ID</span>
        </div>
        <div class="info-btn">
            <fa-icon [icon]="faQuestionCircle" class="info-icon1"  title="Info button"></fa-icon>
            <span class="tooltiptext">Your User Name</span>
        </div>

        <br>
        <button (click)="editProfile()" name="done" style="float: right;margin:-20px 30% 0 0;">Save</button>
    </div>
</div>
