#oops {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #ef5b1a;
    text-align: center;
}

#pic {
    top: 195px;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 20%;
    height: auto;
}

.page{
    height: 100vh;
}
