.masonry-centered {
  margin-left: auto;
  margin-right: auto;
}

.masonry-item {
  margin-top: 10px;
  width: 250px;
}

@media (max-width: 768px) {
  .masonry-item {
    width: 165px;
  }
}

@media (max-width: 900px) and (min-width: 769px) {
  .masonry-item {
    width: 200px;
  }
}
