<div>
  <div class="topBanner">
      <img class="table" src="assets/stock_table.jpg">
    <h3 class="title">About Us</h3>
  </div>
  <h4 class="subTitle">What is Amima</h4>
  <div class="descBox">
    <h1 class="description">
      Amima is a community dedicated for people to share online shopping experiences and product reviews.
      It is a platform that allows you to discover current popular trending products
      and browse through product reviews from other people.
    </h1>
  </div>
  <div class="bigContainer">
    <div class="smallContainer">
      <img class="pic" src="assets/wheel_01.jpg">
      <h1 class="header">01
        <br>Product Review
      </h1>
      <div class="overlay">
        <div class="text">
          People can get real feedback on products by browsing through product reviews
          and recommendations from other people.
        </div>
      </div>
    </div>
    <div class="smallContainer">
      <img class="pic" src="assets/cloths_02.jpg">
      <h1 class="header">02
        <br>Community
      </h1>
      <div class="overlay">
        <div class="text">
          A community for user-generated product reviews with product content inspirations
          and for people to discover real product experiences.
        </div>
      </div>
    </div>
    <div class="smallContainer">
      <img class="pic" src="assets/makeup_03.jpg">
      <h1 class="header">03
        <br>Content Inspiration
      </h1>
      <div class="overlay">
        <div class="text">
          The reviews on Amima are written by the users to help spark consumers' interest in the product.
        </div>
      </div>
    </div>
  </div>

  <h3 class="contactInfo">Contact</h3>
  <div class="descBox">
    <p class="description">
      <p>
        <a href="mailto:info@amimalive.com">Email: info@amimalive.com</a>
      </p>
      <p>
        <a href="https://www.instagram.com/amima_live/">Instagram</a>
      </p>
      <p>
        <a href="https://www.facebook.com/profile.php?id=100070058887555">Facebook</a>
      </p>
    <p>
  </div>

</div>
