<div class="container">
  <div class="userInfo">
    <div class="userPicture">
      <div class="pictureBox" [ngClass]="{'clickable': checkIsUser()}">
        <img [src]="profileImageUrl + '/' + user.profile_image" (click)="checkIsUser() ? goEditProfile() : null" alt="User Profile Picture">
      </div>
    </div>
    <div class="userBio">
      <div class="userName">
        {{user.user_name}}
      </div>
      <div class="userBioInfo">{{user.bio}}</div>
    </div>
    <!-- checks if user is logged in, if yes, then show the edit profile and logout button -->
    <div *ngIf="checkIsUser()" class="buttons">
      <a (click)="goEditProfile()"><fa-icon [icon]="faPenToSquare" title="Edit"></fa-icon>
      </a>
      <a (click)="goHome(); deleteLoginCookie();"><fa-icon [icon]="faArrowAltCircleRight" title="Log Out"></fa-icon>
      </a>
    </div>
  </div>

   <!-- Posts/Favourites -->
  <div class="tabs">
    <div class="tab-text">
      <a [ngClass]="{'highlighted': !showFav}" (click)="switchShowFav(false)">Posts</a>
    </div>
    <div class="tab-text">
      <a [ngClass]="{'highlighted': showFav}" (click)="switchShowFav(true)">Favorites</a>
    </div>
  </div>

   <!-- Posts  -->
  <CardScreen *ngIf="!showFav" [posts]="posts"></CardScreen>
  <CardScreen *ngIf="showFav" [posts]="favPosts"></CardScreen>

</div>
