<div class="container">
  <div class="userInfo">
    <div class="userPicture">
      <div class="pictureBox">
        <img src="../../../../assets/product1.jpg" alt="User Profile Picture">
      </div>
    </div>
    <div class="userBio">
      <div class="userName">
        User Name
      </div>
      <div class="userBioInfo"> I am a tech reviewer</div>  
    </div>
    <div class="buttons">
      <a href="/edit_profile/:id"><fa-icon [icon]="faPenToSquare" class="edit-button" title="Edit"></fa-icon>
      </a>
      <a href=""><fa-icon [icon]="faArrowAltCircleRight" class="logout-button"  title="Log Out"></fa-icon>
      </a>
    </div>
  </div>
   <!-- Posts/Favourites  -->
  <div class="tabs">
    <div class="posts">
      <a href="https://www.google.com/">Posts
      </a>
    </div>
    <div class="favorites">
      <a href="https://www.google.com/">Favorites</a>
    </div>
  </div>


   <!-- Posts  -->
   <div class="userPosts">
    Posts Go Here

   </div>

</div>