.container{
  margin-top: 10px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.clickable {
  cursor: pointer;
}

.userInfo {
  border: 1px solid lightgrey;
}

.userPicture {
  display: inline-block;
  margin-right: 10px;
}

.userPicture img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: 10px;
}

.userBio {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  max-width: 170px;
}

.userName {
  padding-top: 10px;
  font-weight: 500;
  font-size: large;
}

.userBioInfo {
  margin-top: 10px;
  font-size: smaller;
  display: inline-block;
  line-break: anywhere;
}

.buttons {
  display: inline-block;
  right: 0;
  font-size: 28px;
  float: right;
  margin-right: 25px;
  margin-top: 25px;
}

.buttons a {
  transition: 0.2s;
  cursor: pointer;
  margin-left: 10px;
}

.buttons a:hover {
  color: salmon;
  transition: 0.2s;
}

a {
  text-decoration: none;
  color: black;
}

.tabs {
  display: flex;
  margin: 10px;
  height: 45px;
  justify-content: center;
  column-gap: 5%;
}

.tabs a {
  cursor: pointer;
}

.tab-text a {
  color: rgba(59, 53, 53, 0.885);
  font-weight: 700;
  text-decoration: none;
  font-size: large;
}

.tab-text {
  text-align: center;
  display: flex;
  align-items: center;
  transition: 0.2s;
}

.tab-text a:hover{
  text-decoration-color: red;
  color: salmon;
  transition: 0.2s;
}

.highlighted {
  color: salmon !important;
}

.userPosts{
  padding: 10px;
  min-height: 400px;
  display: grid;
  border-width: 1px;
  grid-template-columns: 20% 20% 20% 20%;
  column-gap: 2%;
  border-style: solid;
  border-color: rgba(178, 178, 178, 0.481);
}

.userPosts img{
  width: 100%;
  aspect-ratio: 1/2.5;
}

.subpanel {
  width: fit-content;
  height: fit-content;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: fixed;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.subpanel-scrollable {
  overflow: auto;
  width: 90vw;
  height: 75vh;
}

.close-button {
  margin-right: 10px;
  margin-top: 10px;
}

.close-button span {
  font-size: 24px;
  margin-left: 10px;
  font-weight: bold;
}

.close-button a {
  cursor: pointer;
  font-size: 28px;
  right: 15px;
  top: 15px;
  float: right;
}

.close-button a:hover {
  color: salmon;
  transition: 0.2s;
}

.subpanel-section {
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
}

.subpanel-item {
  margin: 10px;
  font-size: 18px;
  border-bottom: 1px solid #eee;
}

.inline {
  display: inline-block;
  vertical-align: middle;
}

.subpanel-text-section {
  margin-left: 10px;
}

.subpanel-item-picture {
  display: inline-block;
}

.subpanel-item-picture img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

.subpanel-item-name {
  display: inline-block;
  font-size: 16px;
}

.subpanel-checkboxes label {
  margin-right: 15px;
}

.follow-button {
  display: inline-block;
  float: right;
  margin-right: 35px;
  margin-top: 35px;
  font-size: 18px
}

.follow-button a {
  cursor: pointer;
  transition: 0.2s;
}

.follow-button a:hover {
  color: salmon;
  transition: 0.2s;
}

@media screen and (max-width: 480px) {
  .subpanel-text-section {
    width: 220px;
  }
}
