<div class="container">
  <div class="userInfo">
    <div class="userPicture">
      <div class="pictureBox">
        <img [src]="profileImageUrl + '/' + user.profile_image" alt="User Profile Picture">
      </div>
    </div>
    <div class="userBio">
      <div class="userName">
        {{user.user_name}}
      </div>
      <div class="userBioInfo">{{user.bio}}</div>
    </div>
    <div *ngIf="checkIsUser()" class="buttons">
      <a (click)="goEditProfile()"><fa-icon [icon]="faPenToSquare" class="edit-button" title="Edit"></fa-icon>
      </a>
      <a (click)="goHome()"><fa-icon [icon]="faArrowAltCircleRight" (click)="deleteLoginCookie()" class="logout-button" title="Log Out"></fa-icon>
      </a>
    </div>
  </div>

   <!-- Posts/Favourites  -->
  <div class="tabs">
    <div class="posts">
      <a href="https://www.google.com/">Posts</a>
    </div>
    <div class="favorites">
      <a href="https://www.google.com/">Favorites</a>
    </div>
  </div>

   <!-- Posts  -->
   <div class="userPosts">
    <CardScreen [posts]="posts"></CardScreen>
   </div>

</div>
