/* Global styles */
html, body, app-root {
  height: 100%;
  min-height: 100%;
}

body {
  margin-bottom: 0;
  margin-top: 0;
}

/* Hide the add tag button on post details page */
#tag-display-only tag-input-form {
  display: none !important;
}

#tag-display-only div, #tag-display-only tag {
  cursor: default !important;
}

/* Styles for the global snackbar */
#snackbar {
  visibility: hidden;
  left: 30px;
  bottom: 30px;
  background-color: #d9534f;
  color: #fff;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 10;
  width: 300px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {left: -300px; opacity: 0;}
  to {left: 30px; opacity: 1;}
}

@keyframes fadein {
  from {left: -300px; opacity: 0;}
  to {left: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {left: 30px; opacity: 1;}
  to {left: -300px; opacity: 0;}
}

@keyframes fadeout {
  from {left: 30px; opacity: 1;}
  to {left: -300px; opacity: 0;}
}
