.list {
    list-style-type:none;
    display: inline-flexbox;
    user-select: none;
    padding: 0%;
}

.list li {
   display: inline-block;
   margin: 3px;
}

.list input[type="radio"] {
   display: none;
}

.list input[type="radio"]:checked + label > span {
   background-color: rgb(255,36,66);
   color: white;
   border:none;
}

.list span {
   display: inline-flex;
   padding: 5px;
   border: 1px solid black;
   border-radius: 21px;
   color: black;
}

.list span:hover{
   border-color:rgb(255,36,66);
   color: rgb(255,36,66);
   cursor: pointer;
   outline: none;
}