<ul class="list">
    <li>
        <input type="radio" id="foryou" name="category" value="For You" checked="checked" />
        <label for="foryou"><span>For You</span></label>
    </li>
    <li>
        <input type="radio" id="food" name="category" value="food"/>
        <label for="food"><span>Food</span></label>
    </li>
    <li>
        <input type="radio" id="fashion" name="category" value="fashion"/>
        <label for="fashion"><span>Fashion</span></label>
    </li>      
    <li>
        <input type="radio" id="lifestyle" name="category" value="Lifestyle"/>
        <label for="lifestyle"><span>Lifestyle</span></label>
    </li>   
    <li>
        <input type="radio" id="technology" name="category" value="Technology"/>
        <label for="technology"><span>Technology</span></label>
    </li>   
    <li>
        <input type="radio" id="university" name="category" value="University"/>
        <label for="university"><span>University</span></label>
    </li>   
</ul>