.list {
    list-style-type:none;
    display: inline-flexbox;
}

.list li {
   display: inline-block;
   border-radius: 21px;
   overflow: hidden;
   background: white;
   border: 1px solid rgb(120, 110, 110);
   margin: 3px;
   padding-right: 11px;
}

.list label{
   color: rgb(120, 110, 110);
}

.list input[type="radio"] {
   opacity:0;
   z-index:100;
}

.list input[type="radio"]:checked + label {
   background-color: rgb(255,36,66);
   color: white;
}

.list li:hover {
   
   color: rgb(255,36,66);
   cursor: pointer;
}